p{
    color: brown;
}
input{
    width: 300px;
}
.addAlbumInput {
    max-width: 30%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.right-side{
    display: none
}
.full {
    display: inline;
}
.vis {
    display: flex;
}